
body{
    
}
h3{
    margin-bottom: 5px;
    margin-right: 5px;
}
#h1
{
    font-weight: bold;
    font-size: px50;
    color: #6EACDA; 
}
#project{
    background-image: linear-gradient(rgba(0, 68, 255, 0.727), rgba(0, 213, 255, 0.568));

}

#content{
    margin: 20px;
}   

img{
padding: 30px;
width: 200;
height: 200;
border: 2px solid black;
border-radius: 20px;

}
img:hover
{
    border:2px solid red;
   
}

